/* bold font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

body {
  background: #272934;
}

.navbar {
  background: #272934;
}

.navbar-brand {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}

.nav-link {
  color: #333;
}

.nav-link:hover {
  color: #fff;
}

.container {
  max-width: 1200px;
}

.title-text {
  margin-top: 30vh;
  font-size: 50px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.desc {
  color: #ccc;
  margin-top: 4vh;
}

.btns {
  border: none;
  outline: none;
  padding: 18px 35px;
  border-radius: 10px;
}

.inv-btn {
  background: #00ffea;
}

.feat-btn {
  margin-left: 1vh;
  background: #3d3f49;
  color: #fff;
}

.BIGimage {
  margin-top: 25vh;
}

.BIGimage:hover {
  /* transform: scale(2); */
  animation: move 0.3s infinite;
}

@keyframes move {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(20deg);
  }
}

.spacing {
  background: #1f2129;
  height: 300px;
  margin-top: 25vh;
}

.font {
  font-family: "Poppins", sans-serif;
}

.introduc {
  margin-top: 10vh;
}

.featIMG {
  margin-top: 5vh;
}

.info {
  margin-top: 5vh;
}

.info2 {
  margin-top: 10vh;
}

.footer {
  background: #1f2129;
  height: 150px;
  margin-top: 25vh;
}

@media screen and (max-width: 425px) {
  .BIGimage {
    display: none;
  }
}
